extends layout

block head
  link(rel="stylesheet", href="/style/wiki.css")

block content
  nav(id="nav-bar")
    ul: each val, key in navContent
      li: a(href=val) #{key}

  #main-body
    #table-of-content
      nav !{tocHtml}
    
    #text-body
      h1(class="content-header")= title
      #text-column
        div !{contentHtml}
    
    #quick-links
      h3= "Mentioned here:"
      div !{refHtml}

